@page
@model TaskManager.Web.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>To Do Details</h1>

@* Progress Indicator *@

<div>Progress Indicator</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-sec">Back to List</a>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.ToDo.Id">Edit</a>
</div>
