@page
@model TaskManager.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    
}
<h1>To Dos</h1>

<p>
    <a asp-page="Create"><img src="~/assets/Hover@1x.png" alt=""> Create</a>
</p>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.ToDos[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDos[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDos[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDos[0].Notes)
            </th>
            <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDos) {
    string dueDate = item.DueDate.ToString("M/d/yy");
        <tr>
            <td>
                <select class="custom-select">
                    <option selected>Status</option>
                    <option value="1">In Progress</option>
                    <option value="2">To Do</option>
                    <option value="3">Done</option>
                </select>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            @* <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td> *@
            @*  change to icons that only show when item is selected *@
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info fa-xl" style="color: #3cbaaa;"></i> &nbsp;</a> 
                <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-gear" style="font-size:24px;color:grey"></i> &nbsp;</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash fa-xl" style="color:grey"></i></a>
            </td>
            <td>
                @*  insert colored dot for closeness to due date *@
                @Html.DisplayFor(modelItem => dueDate)
            </td>
        </tr>
}
    </tbody>
</table>
